<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631836446070-8u4rhq0o698piljnvlpcrb75s4h2hn5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631836446070-8u4rhq0o698piljnvlpcrb75s4h2hn5i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>631836446070-vqvr4igm8qnaiq9f2su0mkkl87d21048.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDgzdCMxJJehm9070nuLacA3lBZo75p3WM</string>
	<key>GCM_SENDER_ID</key>
	<string>631836446070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifeedback</string>
	<key>PROJECT_ID</key>
	<string>ifeedback-b46da</string>
	<key>STORAGE_BUCKET</key>
	<string>ifeedback-b46da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631836446070:ios:ae63a1bbfe7c8a3045be57</string>
</dict>
</plist>